
body{

    text-align: center;
    background-color: black;
    font-family: 'Roboto', sans-serif;

}


#botao {
    text-align: center;
    padding: 1.5rem;
    font-size: 2rem;
}

#botao:hover {
    background-color: black;
    color: white;
    transition: all .6s;
    cursor: pointer;
}

#teste {
    display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(12, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
    width: 50%;
    margin: auto;
}


h1 {
    text-align: center;
}

#amarelo {
    color: yellow;
}

#vermelho {
    color: red;
}

#roxo {
    color: purple;
}

#azul {
    color: blue;
}

#rosa {
    color: rgb(255, 0, 170);
}